<header class="container">
    <div class="d-flex justify-content-between">
        <div>Timelogger</div>
        <div class="toggle-mode" title="Switch theme">
            <div class="sun sun-logo">
                <i class="fas fa-sun fa-1x"></i>
            </div>
            <div class="moon moon-logo">
                <i class="fas fa-moon fa-1x"></i>
            </div>
        </div>
    </div>
</header>
