{% extends 'base.html.twig' %}

{% block title %}Edit Project{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit Project</h1>

        {{ include('project/_form.html.twig', {'button_label': 'Update'}) }}

        <a class="btn btn-primary" href="{{ path('project_index') }}"><i class="fa fa-chevron-left"
                                                                         aria-hidden="true"></i> back to list</a>

        {{ include('project/_delete_form.html.twig') }}
    </div>
{% endblock %}
